@model Tuple<List<DLL.ViewModel.VM_GroupDetail>, List<DLL.ViewModel.VM_GroupDetail>, List<DLL.ViewModel.VM_GroupSummary>, List<DLL.ViewModel.VM_GroupSummary>>


@{
    Layout = null;
}

<fieldset id="fieldsetAsset"><legend style="color:green; font-size:small">Asset</legend>
    <table class="table table-striped table-condensed" style=" font-size:smaller" id="AssetBook">
       <tr style="font-weight:bold;">
            
            <td>Particulars</td>
       
            <td style="text-align:right">Balance</td>
        </tr> 
        @foreach(var group in Model.Item3)
        { 
            <tr class="hhheader bold green">
                <td colspan="2">
                    <span>+</span><a href="#" onclick="getGroupDetail('@group.GroupID')">@group.GroupName</a>
                    <span style="float:right">@group.strBalance</span>
                </td>
            </tr>
            var ledgerNameList2 = Model.Item1.Where(f => f.GroupName == group.GroupName).ToList();
            foreach (var ledger in ledgerNameList2)
            {
                <tr>
                    <td><span style="padding-left:100px"></span> <a href="#" onclick="getLedgerDetail('@ledger.LedgerID', '@ledger.LedgerName')">@ledger.LedgerName</a></td>
                    <td>@ledger.strBalance</td>
                </tr>   
            }
        }
         
        <tr style=" font-weight:bold" class="hhheader">
            <td>Total</td>
            <td id="c_balance" style="text-align:right">@ViewBag.AssetBalance</td>
        </tr>
    </table>
    <input type="hidden" id="Asset_c_init" />
</fieldset>


<fieldset id="fieldsetLiabilities"><legend style="color:blue; font-size:small">Liabilities</legend>

    <table class="table table-striped table-condensed" style=" font-size:smaller" id="LiabBook">
       <tr style="font-weight:bold;">
            
            <td>Particulars</td>
  
            <td style="text-align:right">Balance</td>
        </tr>

         @foreach(var group in Model.Item4)
        { 
            <tr class="hhheader bold green">
                <td colspan="2">
                    <span>+</span><a href="#" onclick="getGroupDetail('@group.GroupID')">@group.GroupName</a>
                    <span style="float:right">@group.strBalance</span>
                </td>
            </tr>
            var ledgerNameList2 = Model.Item2.Where(f => f.GroupName == group.GroupName).ToList();
            foreach (var ledger in ledgerNameList2)
            {
                <tr>
                    <td><span style="padding-left:100px"></span> <a href="#" onclick="getLedgerDetail('@ledger.LedgerID', '@ledger.LedgerName')">@ledger.LedgerName</a></td>
                    <td>@ledger.strBalance</td>
                </tr>   
            }
        }
        <tr style="font-weight: bold" class="hhheader">
            <td>
                <span></span>
                <span style="color:green; font-weight:bold">Retain Earnings</span><br />
                Opening Balance<br />
                Retain earning during <span id="spFDate"></span> to <span id="spTDate"></span> is 
            </td>
            <td style="text-align: right">
                &nbsp<br />
                <span id="retainEarningOpening"> @ViewBag.RetainEarningOpening </span> <br />
                <span id="retainEarningDuring"> @ViewBag.RetainEarningPeriod </span>  <br />
            </td>
        </tr>
        <tr style=" font-weight:bold" class="hhheader">
            <td>Total</td>
            <td id="c_balanceLiab" style="text-align:right">@ViewBag.LiabilitiesBalance</td>
        </tr>
    </table>
</fieldset>

<script>

    $(document).ready(function () {

        $("#spFDate").text($("#fromDate").val());
        $("#spTDate").text($("#toDate").val());

        changeColor();

        $('.hhheader').click(function () {
            $(this).find('span:first').text(function (_, value) { return value == '-' ? '+' : '-' });
            $(this).nextUntil('tr.hhheader').slideToggle('slow');
        });
        $('.hhheader').nextUntil('tr.hhheader').slideToggle();
    })

    function changeColor() {
        $('table tr').each(function () {
            if ($(this).find('td').eq(0).text() == 'Difference in initial balance') {
                $(this).css('color', 'red').find('a').removeAttr("href");
            }
            if ($(this).find('td').eq(0).text() == 'Retain Earnings') {
                $(this).css('color', 'green');
            }
        });
    };

</script>