@model List<DLL.ViewModel.VM_acc_VoucherDetail>
@{
    Layout = null;
}
<fieldset><legend style="color:blue; font-size:small">Liabilities</legend>

    <table class="table table-striped table-condensed" style=" font-size:smaller" id="LiabBook">
       <tr style="font-weight:bold;">
            
            <td>Group</td>
            <td>Ledger Name</td>
            <td style="text-align:right">Initial Balance</td>
            <td style="text-align:right">Debit</td>
            <td style="text-align:right">Credit</td>
            <td style="text-align:right">Balance</td>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                
                <td>@Model[i].GroupName</td>
                <td><a href="#" onclick="getLedgerDetail('@Model[i].LedgerID')">@Model[i].LedgerName</a></td>
                <td id="init-@i" style="text-align:right">@if (@Model[i].InitialBalance != 0)
                                  { @Model[i].InitialBalance }</td>
                <td id="debit-@i" style="text-align:right">@if (@Model[i].Debit != 0)
                                  { @Model[i].Debit}</td>
                <td id="credit-@i" style="text-align:right">@if (@Model[i].Credit != 0)
                                   { @Model[i].Credit }</td>
                <td id="balance-@i" style="text-align:right"></td>
            </tr>
        }
        <tr style=" font-weight:bold">
            <td colspan="5">Retain Earnings</td>
       @if(Convert.ToDecimal(ViewBag.NetProfit)<0)
       {
            <td id="retainEarning" style="text-align:right">@ViewBag.NetProfit Dr.</td>
       }
       else
       {
           <td id="retainEarning" style="text-align:right">@ViewBag.NetProfit Cr.</td>
       }
        <tr style="font-weight: bold">
            <td colspan="5">Difference in initial balance</td>

            <td id="diffInitalInLiab" style="text-align: right">@ViewBag.NetProfit Dr.</td>

        </tr>
        <tr style=" font-weight:bold">
            <td colspan="2"></td>
            <td id="c_init" style="text-align:right"></td>
            <td id="c_debit" style="text-align:right"></td>
            <td id="c_credit" style="text-align:right"></td>
            <td id="c_balance" style="text-align:right"></td>
        </tr>
    </table>
    <input type="hidden" id="Liab_c_init" />
    <br />
    <div id="diffInitBal" style="font-weight:bold"></div>
</fieldset>

<script>
    $(document).ready(function () {

        var res_debit = 0;
        var res_credit = 0;
        var res_init = 0;

        var c_init = 0;
        var c_debit = 0;
        var c_credit = 0;

        var table = document.getElementById('LiabBook');

        var rowLength = table.rows.length;
        
        for (var i = 0; i < rowLength; i += 1) {

            // credit
            if (parseFloat($('#LiabBook #credit-' + i).text())) {
                res_credit = parseFloat($('#LiabBook #credit-' + i).text());
                c_credit = c_credit + res_credit;
            }
            else {
                res_credit = 0;
            }

            //debit
            if (parseFloat($('#LiabBook #debit-' + i).text())) {
                res_debit = parseFloat($('#LiabBook #debit-' + i).text());
                c_debit = c_debit + res_debit;
            }
            else {
                res_debit = 0;
            }

            //init
            if (parseFloat($('#LiabBook #init-' + i).text())) {
                
                res_init = parseFloat($('#LiabBook #init-' + i).text());
                c_init = c_init + res_init;
                
            }
            else {
                res_init = 0;
            }

            var result = parseFloat(res_init) + parseFloat(res_credit) - parseFloat(res_debit);
            if (!result) {
                result = 0;
            }
            var res_bal = result;
            if (parseFloat(res_bal) < 0) {
                $('#LiabBook #balance-' + i).text(AccFormatMoney((res_bal) * (-1)) + " Dr.");
            }
            else {
                $('#LiabBook #balance-' + i).text(AccFormatMoney(res_bal) + " Cr.");
            }
        }

        $("#Liab_c_init").val(c_init);

        $('#LiabBook #c_init').text(AccFormatMoney(c_init) + "");
        $('#LiabBook #c_debit').text(AccFormatMoney(c_debit) + "");
        $('#LiabBook #c_credit').text(AccFormatMoney(c_credit) + "");
        var summary = parseFloat(c_init) + parseFloat(c_credit) - parseFloat(c_debit);
        var retainEarning = parseFloat($('#retainEarning').text());
        var netProfit = parseFloat(summary) + parseFloat(retainEarning);
        
        if (netProfit < 0) {
            $('#LiabBook #c_balance').text(AccFormatMoney((netProfit) * (-1)) + " Dr.");
        }
        else {
            $('#LiabBook #c_balance').text(AccFormatMoney(netProfit) + " Cr.");
        }


        var Asset_c_init = parseFloat($('#Asset_c_init').val());
        
        var Liab_c_init = parseFloat($('#Liab_c_init').val());
        
        var diffInitBal = Asset_c_init - Liab_c_init;

        if (diffInitBal>0) {
            $("#diffInitBal").text("Difference in initial balance " + AccFormatMoney(diffInitBal) + " DR.");
            $("#diffInitBal").removeClass("alert alert-success").addClass("alert alert-warning");
        }
        else if (diffInitBal < 0) {
            $("#diffInitBal").text("Difference in initial balance " + AccFormatMoney((diffInitBal) * (-1)) + " CR.");
            $("#diffInitBal").removeClass("alert alert-success").addClass("alert alert-warning");
        }
        else if (diffInitBal == 0) {
            $("#diffInitBal").text("No difference in initial balance!");
            $("#diffInitBal").removeClass("alert alert-warning").addClass("alert alert-success");
        }
    });

</script>
