@model System.Collections.Generic.List<DLL.ViewModel.VM_Employee>

@{
    ViewBag.Title = "Employee Information";
}


<div class="row"><div class="col-md-12">
<div class="alert alert-success"><strong id="msg">@ViewBag.Message</strong> </div>

  @using (Ajax.BeginForm("ImportExcelSave", "Employee", null, new AjaxOptions
	{
		InsertionMode = InsertionMode.Replace,
		HttpMethod = "POST",
        OnSuccess = "updateSuccessEmployeeImport"
	}, new { @id = "DialogForm1" }))
    {
    @Html.AntiForgeryToken()
    <div id="update-message1" class="error"></div>

<input type="hidden" value="@ViewBag.Month" name="_dtMonth" />
      <div id="info">
    <table class="table table-striped table-condensed smaller">
        <tr style="font-weight:bold; text-align:center">
            <td>Employee ID</td>
            <td>Employee Name</td>
            @if (DLL.Utility.ApplicationSetting.Branch == true) 
             {
            <td>Branch ID</td>
            <td>Branch</td>
            }
            <td>Email</td>
            <td>Joining Date</td>
            <td>PF Activation Date</td>
            <td>OWN CONT</td>
            <td>EMP CONT</td>
               
            <td>Loan</td>
            <td>Profit</td>
            <td>Designation Name</td>
            <td>Department Name</td>
            <td>Warning...</td>
        </tr>
        @for (var i = 0; i < Model.Count; i++ )
        {
            <tr>
                <td>@Html.DisplayFor(m => m[i].IdentificationNumber) @Html.HiddenFor(m => m[i].IdentificationNumber)</td>
                <td>@Html.DisplayFor(m => m[i].EmpName) @Html.HiddenFor(m => m[i].EmpName)</td>
                @if (DLL.Utility.ApplicationSetting.Branch == true) 
             {
                <td class="branchid">@Html.DisplayFor(m => m[i].BranchID) @Html.HiddenFor(m => m[i].BranchID)</td>
                <td>@Html.DisplayFor(m => m[i].BranchName) @Html.HiddenFor(m => m[i].BranchName)</td>
                }
                <td>@Html.DisplayFor(m => m[i].Email) @Html.HiddenFor(m => m[i].Email)</td>
                <td>
                    @if(Model[i].JoiningDate.HasValue)
                    {
                        @Html.DisplayFor(m => m[i].JoiningDate.Value) @Html.HiddenFor(m => m[i].JoiningDate)
                    }
                </td>

                <td>
                    @if(Model[i].PFActivationDate.HasValue)
                    {
                        @Html.DisplayFor(m => m[i].PFActivationDate.Value) @Html.HiddenFor(m => m[i].PFActivationDate)
                    }
                </td>
                <td>@Html.DisplayFor(m => m[i].opOwnContribution) @Html.HiddenFor(m => m[i].opOwnContribution)</td>
                <td>@Html.DisplayFor(m => m[i].opEmpContribution) @Html.HiddenFor(m => m[i].opEmpContribution)</td>
                
                <td>@Html.DisplayFor(m => m[i].opLoan) @Html.HiddenFor(m => m[i].opLoan)</td>
                <td>@Html.DisplayFor(m => m[i].opProfit) @Html.HiddenFor(m => m[i].opProfit)</td>
                <td>@Html.DisplayFor(m => m[i].opDesignationName) @Html.HiddenFor(m => m[i].opDesignationName)</td>
                <td>@Html.DisplayFor(m => m[i].opDepartmentName) @Html.HiddenFor(m => m[i].opDepartmentName)</td>
                <td style="color:red">@Html.DisplayFor(m => m[i].PreImportMessage) @Html.HiddenFor(m => m[i].PreImportMessage)</td>
            </tr>
        }
    </table>
          </div>
<hr />
        @Html.ActionLink("Re-Upload", "Import", "Employee",null, new { @class="btn btn-success"})
 @Html.ActionLink("Employee List", "Index", "Employee",null, new { @class="btn btn-link"})
     <button type="submit" id="submitbtn" name="submitbtn" class="btn btn-warning pull-right">Process Data</button>
  }

    </div></div>

@section scripts{
    
    <script type="text/javascript">

        function updateSuccessEmployeeImport(data) {
            if (data.Success == true) {
                ShowDropDownMessage(data.Message);
                $("#update-message1").hide();
                $("#msg").text("Information imported successfully...");
                $("#info").html('');
                document.getElementById('submitbtn').style.visibility = 'hidden';
                $("#update-message1").removeClass("alert alert-danger");
            }
            else {
                $("#update-message1").html(data.ErrorMessage);
                $("#update-message1").show();
                $("#update-message1").addClass("alert alert-danger");
                ErrorNotify(data.ErrorMessage);
            }
        }

        function ShowDropDownMessage(_message) {

            $('#commonMessage').html(_message);
            $('#commonMessage').delay(400).slideDown(400).delay(3000).slideUp(400);
        }

    </script>
    }
