@model PFMVC.Models.ResetPassword

<table>
    @*<tr>
        <td>@Html.LabelFor(m => m.UserName)</td>
        <td>@Html.TextBoxFor(m => m.UserName, new { @class = "nxt form-control" }) @Html.ValidationMessageFor(m => m.UserName)</td>
    </tr>*@
    <tr>
        <td>@Html.LabelFor(m => m.CurrentPassword)</td>
        <td>@Html.PasswordFor(m => m.CurrentPassword, new { @class = "nxt form-control" }) @Html.ValidationMessageFor(m => m.CurrentPassword)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.NewPassword)</td>
        <td>@Html.PasswordFor(m => m.NewPassword, new { @class = "nxt form-control" }) @Html.ValidationMessageFor(m => m.NewPassword)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
        <td>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "nxt form-control" }) @Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button onclick="Save()">Save</button></td>
    </tr>
</table>
<div class="alert alert-success" id="Success" style="display: none">
    <strong id="SuccessMessege">Password successfully altered! next time you have to login with your new password.</strong>
</div>
<div class="alert alert-danger" id="Error" style="display: none">
    <strong id="ErrorMessage">Currently one user cannot change other user password except ADMIN.</strong>
</div>
<div class="alert alert-warning" id="Warning1" style="display: none">
    <strong>New password and confirm new password are not same!</strong> 
</div>
<div class="alert alert-warning" id="Warning2" style="display: none">
    <strong>Stored current password and your input current password are not same!</strong> 
</div>

<script>
    $('.nxt')[0].focus();

    $('.nxt').live("keyup", function (e) {
        var n = $(".nxt").length;

        if (e.which == 13) { //Enter key
            e.preventDefault(); //to skip default behavior of the enter key
            var nextIndex = $('.nxt').index(this) + 1;
            if (nextIndex < n) {
                $('.nxt')[nextIndex].focus();
            }
            else {
                $('.nxt')[nextIndex - 1].blur();
            }
        }
    });

    function Save() {
        var userNamed = $("#UserName").val();
        var currentPassword = $("#CurrentPassword").val();
        var newPassword = $("#NewPassword").val();
        var confirmPassword = $("#ConfirmPassword").val();

        $.ajax({
            url: rootPath + "/Report/WebUserReport/ResetPassword",
            type: 'Post',
            data: JSON.stringify({ userName: userNamed, currentPassword: currentPassword, newPassword: newPassword, confirmPassword: confirmPassword }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if (data.Message == "Password successfully altered! next time you have to login with your new password.") {
                    $("#Success").show();
                    $("#Error").hide();
                    $("#Warning1").hide();
                    $("#Warning2").hide();
                    alert("Password Changed Successfully");
                }
                if (data.ErrorMessage == "Currently one user cannot change other user password except ADMIN.") {
                    $("#Success").hide();
                    $("#Error").show();
                    $("#Warning1").hide();
                    $("#Warning2").hide();
                }
                if (data.ErrorMessage == "New password and confirm new password are not same!") {
                    $("#Success").hide();
                    $("#Error").hide();
                    $("#Warning1").show();
                    $("#Warning2").hide();
                }
                if (data.ErrorMessage == "Stored current password and your input current password are not same!") {
                    $("#Success").hide();
                    $("#Error").hide();
                    $("#Warning1").hide();
                    $("#Warning2").show();
                }
            }
        });
    }
</script>
