
@{
    Layout = null;
}

<fieldset id="fieldsetIncome"><legend style="color:blue; font-size:small">Income</legend>
    @if(TempData.ContainsKey("CreditGroupList"))
    {
        <table class="table table-striped table-condensed" style=" font-size:smaller" id="IncomeBook">
           <tr style="font-weight:bold;">
               <td>Particulars</td>
               <td style="text-align: right">Balance</td>
           
           
            </tr> 
            @foreach(var group in TempData["CreditGroupList"] as List<DLL.ViewModel.VM_acc_ledger>)
            { 
                <tr class="hhheader bold green">
                    <td>
                        <span>+</span><a href="#" onclick="getGroupDetail('@group.GroupID')">@group.GroupName</a>
                    </td>
             
                    <td>
                            <span style="float:right">@group.strBalance</span>
                    </td>
                </tr>
                List<DLL.ViewModel.VM_acc_ledger> clist = TempData["CreditLedgerList"] as List<DLL.ViewModel.VM_acc_ledger>;
                var ledgerNameList2 = clist.Where(f => f.GroupName == group.GroupName).ToList();
                foreach (var ledger in ledgerNameList2)
                {
                    <tr>
                        <td><span style="padding-left:100px"></span> <a href="#" onclick="getLedgerDetail('@ledger.LedgerID', '@ledger.LedgerName')">@ledger.LedgerName</a></td>
                    
                        <td>
                                @ledger.strBalance
                        </td>
                    </tr>   
                }
            }
         
            <tr style=" font-weight:bold" class="hhheader">
                <td>Total</td>
                <td style="text-align:right">
                    @ViewBag.IncomeBalance
                </td>
            </tr>
        </table>
    }

    </fieldset>




<fieldset id="fieldsetExp"><legend style="color:green; font-size:small">Expense</legend>
    <table class="table table-striped table-condensed" style=" font-size:smaller" id="ExpBook">
       <tr style="font-weight:bold;">

           <td>Particulars</td>
           <td style="text-align: right">Balance</td>
           
           
        </tr> 
        @if(TempData.ContainsKey("DebitGroupList"))
        {
            
            foreach(var group in TempData["DebitGroupList"] as List<DLL.ViewModel.VM_acc_ledger>)
            { 
                <tr class="hhheader bold green">
                    <td>
                        <span>+</span><a href="#" onclick="getGroupDetail('@group.GroupID')">@group.GroupName</a>
                    </td>
             
                    <td>
                            <span style="float:right">@group.strBalance</span>
                    </td>
              
                </tr>
                List<DLL.ViewModel.VM_acc_ledger> dlist = TempData["DebitLedgerList"] as List<DLL.ViewModel.VM_acc_ledger>;
                var ledgerNameList2 = dlist.Where(f => f.GroupName == group.GroupName).ToList();
                foreach (var ledger in ledgerNameList2)
                {
                    <tr>
                        <td><span style="padding-left:100px"></span> <a href="#" onclick="getLedgerDetail('@ledger.LedgerID', '@ledger.LedgerName')">@ledger.LedgerName</a></td>
                    
                        <td>
                                @ledger.strBalance
                        </td>
                    </tr>   
                }
            }
        }
        <tr style=" font-weight:bold" class="hhheader">
            <td>Total</td>
            <td style="text-align:right">@ViewBag.ExpBalance</td>
            
        </tr>

    </table>

    <br />
    <table class="table table-condensed table-striped smaller">
        @if(!string.IsNullOrEmpty(ViewBag.Profit))
        {
            <tr style="font-weight:bold; color:green">
                <td>Net Profit</td>
                <td style="text-align:right">@ViewBag.Profit</td>
            </tr>
        }
        else
        {
            <tr style="font-weight:bold; color:red">
                <td>Net Loss</td>
                <td style="text-align:right">@ViewBag.Loss</td>
            </tr>
        }
    </table>
    </fieldset>






<script>

    $(document).ready(function () {

        $("#spFDate").text($("#fromDate").val());
        $("#spTDate").text($("#toDate").val());

  
        changeColor();

        $('.hhheader').click(function () {
            $(this).find('span:first').text(function (_, value) { return value == '-' ? '+' : '-' });
            $(this).nextUntil('tr.hhheader').slideToggle('slow');
        });
        $('.hhheader').nextUntil('tr.hhheader').slideToggle();
    })

    function changeColor() {
        $('table tr').each(function () {
            if ($(this).find('td').eq(0).text() == 'Difference in initial balance') {
                $(this).css('color', 'red').find('a').removeAttr("href");
            }
            if ($(this).find('td').eq(0).text() == 'Retain Earnings') {
                $(this).css('color', 'green');
            }
        });
    };

</script>