@model System.Collections.Generic.List<DLL.ViewModel.VM_PFLoanPayment>
@{
    ViewBag.Title = "Unpaid Loan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-12">


<div class="alert alert-warning"><strong>@ViewBag.Message</strong> </div>

  @using (Ajax.BeginForm("", "", null, new AjaxOptions
	{
		InsertionMode = InsertionMode.Replace,
		HttpMethod = "POST",
        OnSuccess = "updateSuccessSalaryProcess"
	}, new { @id = "DialogForm1" }))
    {
    
    <div id="update-message1" class="error"></div>

<input type="hidden" value="@ViewBag.Month" name="_dtMonth" />
    <table class="table table-striped table-condensed smaller" style="text-align:center">
           <tr style="font-weight:bold;" >
            <td>Employee ID</td>
            <td>Loan ID</td>
            @*<td>Savings Amount</td>*@
            <td>Installment Amount</td>
            <td>Installment Number</td>
            <td>Payment Date</td>
            <td>Payment Status</td>
        </tr>
        @for (var i = 0; i < Model.Count; i++ )
        {
            <tr>
                <td>@Html.DisplayFor(m => m[i].IdentificationNumber) @Html.HiddenFor(m => m[i].EmployeeID)</td>
                <td>@Html.DisplayFor(m => m[i].LoanID) @Html.HiddenFor(m => m[i].LoanID)</td>
                @*<td>@Html.DisplayFor(m => m[i].CurrentSavings) @Html.HiddenFor(m => m[i].CurrentSavings)</td>*@
                <td>@Html.DisplayFor(m => m[i].Amount) @Html.HiddenFor(m => m[i].Amount)</td>
                <td>@Html.DisplayFor(m => m[i].InstallmentNumber) @Html.HiddenFor(m => m[i].InstallmentNumber)</td>
                <td>
                    @Html.DisplayFor(m => m[i].MonthYear)
                </td>
                <td>
                    <label style="color:red">Unpaid</label>
                </td>
            </tr>
        }
    </table>
<hr />
        
  @Html.ActionLink("Back", "Index", "Import", new { Area= "Loan" }, new { @class="btn btn-danger"})
     
  }
    </div>
</div>

@section scripts{
    <script src="~/Scripts/custom/LoanPaymentFromSalary.js"></script>
    }

