@model DLL.ViewModel.VM_Department

           
    @using (Ajax.BeginForm("DepartmentForm", "Department", new AjaxOptions
	{
		InsertionMode = InsertionMode.Replace,
		HttpMethod = "POST",
        OnSuccess = "updateSuccess1"
	}, new { @id = "DialogForm1" }))
    {
    @Html.ValidationSummary(true)
    <div id="update-message1" class="error"></div>
        @Html.HiddenFor(model => model.DepartmentID)
        
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.DepartmentName, "Department Name")
            </td>
            <td>
                @Html.TextBoxFor(model => model.DepartmentName, new { style="max-width: 200px; max-height: 70px; min-width: 199px; ", @class="form-control Next"})
                @Html.ValidationMessageFor(model => model.DepartmentName)
            </td>
        </tr>
    </table>
}
