@model DLL.ViewModel.VM_acc_Cash_Flow_Type

@{
    Layout = null;
}

<fieldset>
    <legend id="addGroupLegend">Add Cash Flow Type@*<button class="btn btn-default btn-xs pull-right" onclick="getGroupTree()" id="report">Group Tree</button> <button class="btn btn-default btn-xs pull-right" onclick="getTreeView()" id="tvw"><span class="glyphicon glyphicon-tree-conifer"></span></button>*@</legend>

@using (Ajax.BeginForm("CashFlowTypeForm", "CashFlow", null, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    OnSuccess = "updateSuccess"
}, new { @id = "DialogForm1" }))
    {
        @Html.AntiForgeryToken()
        <div id="update-message1"></div>
       
        <table class="table table-striped">
            <tr>
                <td class="a">@Html.Label("Cash Flow Group")</td>
                <td>@Html.DropDownListFor(m => m.CashFlowGroup_Id, (SelectList)ViewData["Group"], string.Empty, new { @class = "form-control next", @id = "drop" })</td>
            </tr>

              <tr>
                <td class="a">@Html.Label("New Cash Flow Type")</td>
                <td>@Html.TextBoxFor(m => m.CashFlow_Type, new { @class = "form-control next", @id="CashFlow_Type", placeholder="New Cash Flow Type Name..." }) @Html.ValidationMessageFor(m => m.CashFlow_Type)</td>
                <td class="hidden">@Html.TextBoxFor(m => m.CashFlowType_Id)</td>
              </tr>

            @*<tr>
                <td class="a">@Html.Label("Group Code")</td>
                <td>@Html.TextBoxFor(m => m.GroupCode, new { @class = "form-control next", @id="GroupCode", placeholder="Unique Group Code" }) @Html.ValidationMessageFor(m => m.GroupCode)</td>
            </tr>

            <tr>
                <td class="a">@Html.Label("Under which Group")</td>
                <td>@Html.TextBoxFor(m => m.ParentGroupName, new { @class = "form-control next", @id = "underGroup", placeholder="Use up/down arrow and select from right side list..." }) </td>
            </tr>*@

          
            
        </table>
    <label style="color:lightsteelblue; font-style:italic">Press ENTER to move on NEXT</label>
        <hr />@*
        if (Model != null)
        {
            <button class="btn btn-danger" type="button"  onclick="deleteGroup(@Model.GroupID);">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            <button class="btn btn-primary" type="button" onclick="NewGroup();" style="padding-left: 10px">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        }
        *@
        <button class="btn btn-success pull-right 3 next" type="button" onclick="save();" id="save_btn">
            <span class="glyphicon glyphicon-saved"></span> Save
        </button>
    }
     @if (Model != null)
     {
        <br />
        <hr />
        <label class="mini">@ViewBag.User</label>
    }
</fieldset>

<style>
    .a {
        vertical-align:middle !important;
        max-width:90px;
    }

</style>

<script>
    $('#drop').focus();
</script>
