@model PFMVC.Models.ResetPassword

@using (Ajax.BeginForm("ResetPassword", "UserManagement", new AjaxOptions
	{
		InsertionMode = InsertionMode.Replace, 
		HttpMethod = "POST",
        OnSuccess = "updateSuccess_pr"
	}, new { @id = "DialogForm-pr" }))
    {

    <div id="update-message-pr"></div>
    
    @Html.AntiForgeryToken()
  @Html.HiddenFor(h => h.UserID)
    @Html.HiddenFor(h =>h.UserName)
    
        <table>
              <tr>
                <td>@Html.LabelFor(m => m.CurrentPassword)</td><td>@Html.PasswordFor(m => m.CurrentPassword, new { @class = "nxt form-control" }) @Html.ValidationMessageFor(m=>m.CurrentPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.NewPassword)</td><td>@Html.PasswordFor(m => m.NewPassword , new { @class = "nxt form-control" }) @Html.ValidationMessageFor(m=>m.NewPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmPassword)</td><td>@Html.PasswordFor(m => m.ConfirmPassword , new { @class = "nxt form-control" }) @Html.ValidationMessageFor(m=>m.ConfirmPassword)</td>
            </tr>
         </table>
}

<script>
    $('.nxt')[0].focus();

    $('.nxt').live("keyup", function (e) {
        var n = $(".nxt").length;

        if (e.which == 13) { //Enter key
            e.preventDefault(); //to skip default behavior of the enter key
            var nextIndex = $('.nxt').index(this) + 1;
            if (nextIndex < n) {
                $('.nxt')[nextIndex].focus();
            }
            else {
                $('.nxt')[nextIndex - 1].blur();
            }
        }
    });
</script>