@model DLL.ViewModel.VM_InterestRate

@{
    Layout = null;
}




@using (Ajax.BeginForm("YearlyInterestForm", "YearlyInterest", null, new AjaxOptions
{
	InsertionMode = InsertionMode.Replace,
	HttpMethod = "POST",
    OnSuccess = "updateSuccessYearlyInterestForm"
}, new { @id = "DialogForm1" }))
{
    
<div id="update-message1" class="error"></div>
    @Html.HiddenFor(m => m.RowId)
    <table>
        
        <tr><td>@Html.LabelFor(m => m.InterestRate)</td><td>@Html.TextBoxFor(m => m.InterestRate, new { @class="form-control"}) @Html.ValidationMessageFor(m => m.InterestRate)</td></tr>
        
        @if(Model.EffectiveFrom.HasValue)
        {
            <tr><td>@Html.LabelFor(m => m.EffectiveFrom)</td><td>@Html.TextBoxFor(m => m.EffectiveFrom, "{0:dd'/'MMM'/'yyyy}" , new {  @class= "dateTimePicker form-control", @readonly="readonly" }) @Html.ValidationMessageFor(m => m.EffectiveFrom)</td></tr>
        }
        else
        {
            <tr><td>@Html.LabelFor(m => m.EffectiveFrom)</td><td>@Html.TextBoxFor(m => m.EffectiveFrom, new {  @class= "dateTimePicker form-control", @readonly="readonly"}) @Html.ValidationMessageFor(m => m.EffectiveFrom)</td></tr>
        }
    </table>
    @*<label style="font-size:smaller; color:red;">Deactivated rule cannot be Re-activate again.</label><br />
    <label style="font-size:smaller; color:blue;">If any rule has been used in transaction process that rule cannot be edit again.</label>*@
}





<script>
    $(function () {
        $('.dateTimePicker').datepicker({ dateFormat: "dd/M/yy", changeYear: true, changeMonth: true });
    });
</script>

